In [7]:
import pandas as pd

# Load the three datasets
df1 = pd.read_excel("..//combined datasets//combined_data_1901_to_1938.xlsx")
df2 = pd.read_excel("..//combined datasets//combined_data_1939_to_1977.xlsx")
df3 = pd.read_excel("..//combined datasets//combined_data_1978_to_2022.xlsx")

# Concatenate the datasets vertically
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

# Remove duplicate columns based on column names (assuming dates are in column names)
combined_df = combined_df.loc[:, ~combined_df.columns.duplicated()]

# Save the merged dataset
combined_df.to_excel("merged_data_1901_to_2022.xlsx", index=False)

print("Merging complete. File saved as 'merged_data_1901_to_2022.xlsx'.")

Merging complete. File saved as 'merged_data_1901_to_2022.xlsx'.

In [8]:
print("Shape of merged dataset:", combined_df.shape)

Shape of merged dataset: (669680, 9)

In [10]:
print("First 5 rows of combined dataset:\n", combined_df.head())

First 5 rows of combined dataset:
         Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_0               3.0     27.25
1 1901-01-02  Day_2  1901.0    1.0    Loc_0               8.0     27.25
2 1901-01-03  Day_3  1901.0    1.0    Loc_0               0.0     27.25
3 1901-01-04  Day_4  1901.0    1.0    Loc_0               0.0     27.25
4 1901-01-05  Day_5  1901.0    1.0    Loc_0               0.0     27.25

   Longitude  Quarter
0      88.25      1.0
1      88.25      1.0
2      88.25      1.0
3      88.25      1.0
4      88.25      1.0

In [11]:
print("Last 5 rows of combined dataset:\n", combined_df.tail())

Last 5 rows of combined dataset:
              Date      Day    Year  Month Location  Rainfall (in mm)  \
669675 2022-12-27  Day_361  2022.0   12.0   Loc_10               0.6
669676 2022-12-28  Day_362  2022.0   12.0   Loc_10               0.7
669677 2022-12-29  Day_363  2022.0   12.0   Loc_10               0.1
669678 2022-12-30  Day_364  2022.0   12.0   Loc_10               0.0
669679 2022-12-31  Day_365  2022.0   12.0   Loc_10               0.0

        Latitude  Longitude  Quarter
669675      28.0      88.75      4.0
669676      28.0      88.75      4.0
669677      28.0      88.75      4.0
669678      28.0      88.75      4.0
669679      28.0      88.75      4.0