In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Ensure inline plotting if using Jupyter Notebook
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score

In [2]:
import pandas as pd

# 1978 to 2022
file_path = r"C:\Users\rahla\Desktop\Sikkim-Rainfall-Prediction\Combined Datasets\combined_1978_to_2022.xlsx"

# Read the Excel file
data = pd.read_excel(file_path)

# Display the first few rows of the data
print(data.head())

        Date    Day  Year  Month Location  Rainfall (in mm)  Latitude  \
0 1978-01-01  Day_1  1978      1    Loc_0               1.0     27.25
1 1978-01-02  Day_2  1978      1    Loc_0               0.0     27.25
2 1978-01-03  Day_3  1978      1    Loc_0               0.0     27.25
3 1978-01-04  Day_4  1978      1    Loc_0               0.0     27.25
4 1978-01-05  Day_5  1978      1    Loc_0               0.0     27.25

   Longitude  Quarter
0      88.25        1
1      88.25        1
2      88.25        1
3      88.25        1
4      88.25        1

In [3]:
data.shape

(178090, 9)

In [4]:
print(data.columns)

Index(['Date', 'Day', 'Year', 'Month', 'Location', 'Rainfall (in mm)',
       'Latitude', 'Longitude', 'Quarter'],
      dtype='object')

In [5]:
data['class'] = data['Rainfall (in mm)'].apply(lambda x : 1 if x > 0 else 0)
data.head()

# divided in classes - 1 for rainfall, 0 for no rainfall

,Date,Day,Year,Month,Location,Rainfall (in mm),Latitude,Longitude,Quarter,class
0,1978-01-01,Day_1,1978,1,Loc_0,1.0,27.25,88.25,1,1
1,1978-01-02,Day_2,1978,1,Loc_0,0.0,27.25,88.25,1,0
2,1978-01-03,Day_3,1978,1,Loc_0,0.0,27.25,88.25,1,0
3,1978-01-04,Day_4,1978,1,Loc_0,0.0,27.25,88.25,1,0
4,1978-01-05,Day_5,1978,1,Loc_0,0.0,27.25,88.25,1,0

In [6]:
data['class'].value_counts()

class
1    101472
0     76618
Name: count, dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178090 entries, 0 to 178089
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              178090 non-null  datetime64[ns]
 1   Day               178090 non-null  object
 2   Year              178090 non-null  int64
 3   Month             178090 non-null  int64
 4   Location          178090 non-null  object
 5   Rainfall (in mm)  178090 non-null  float64
 6   Latitude          178090 non-null  float64
 7   Longitude         178090 non-null  float64
 8   Quarter           178090 non-null  int64
 9   class             178090 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(4), object(2)
memory usage: 13.6+ MB

In [8]:
data['Day_of_Week'] = data['Date'].dt.dayofweek  # Day of the week (0=Monday, 6=Sunday)
data['Day_of_Year'] = data['Date'].dt.dayofyear  # Day of the year (1-365/366)

In [9]:
print(data.columns)

Index(['Date', 'Day', 'Year', 'Month', 'Location', 'Rainfall (in mm)',
       'Latitude', 'Longitude', 'Quarter', 'class', 'Day_of_Week',
       'Day_of_Year'],
      dtype='object')

In [10]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data['Location'] = label_encoder.fit_transform(data['Location'])

In [11]:
X = data.drop(['class','Quarter','Date','Day','Rainfall (in mm)'] , axis = 1)
y = data['class']
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.3 , random_state = 1)

In [12]:
print(X.columns)

Index(['Year', 'Month', 'Location', 'Latitude', 'Longitude', 'Day_of_Week',
       'Day_of_Year'],
      dtype='object')

In [13]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train , y_train)

LogisticRegression()

In [14]:
y_pred = model.predict(X_test)

In [15]:
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.5702360229846333
Classification Report:
               precision    recall  f1-score   support

           0       0.82      0.00      0.01     23031
           1       0.57      1.00      0.73     30396

    accuracy                           0.57     53427
   macro avg       0.70      0.50      0.37     53427
weighted avg       0.68      0.57      0.42     53427

In [ ]:
from sklearn.svm import SVC

model = SVC()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

In [ ]:
new = data[data['Location'] == 0]
new.head()

In [ ]:
new.shape

In [ ]:
# checking which month has the highest rainfall for location 0
monthly_rainfall = new.groupby('Month')['Rainfall (in mm)'].sum().reset_index()

# Plotting the total rainfall for each month
sns.barplot(x='Month', y='Rainfall (in mm)', data=monthly_rainfall)

**We can see that location 0 experience most rainfall in 8th month i.e august**

In [ ]:
monthly_rainfall

In [ ]:
most_rainfall = new.groupby('Month')['Rainfall (in mm)'].sum().max()
most_rainfall

In [ ]:
monthly_location_rainfall = data.groupby(['Month','Location'])['Rainfall (in mm)'].sum().reset_index()
monthly_location_rainfall

In [ ]:
# g = sns.FacetGrid(data = monthly_location_rainfall , col="Location", col_wrap=4, height=4)
# g.map(sns.barplot , 'Month' , 'Rainfall (in mm)',order=range(1, 13))

sns.catplot(
    data=monthly_location_rainfall,
    kind="bar",
    x="Month",
    y="Rainfall (in mm)",
    col="Location",
    col_wrap=4,
    order=range(1, 13),
    height=4
)

**We can see that all 11 locations experience highest rainfalls in the months of june, july, august**