In [7]:
# import pandas as pd

# # Load the three datasets
# df1 = pd.read_excel("..//combined datasets//combined_data_1901_to_1938.xlsx")
# df2 = pd.read_excel("..//combined datasets//combined_data_1939_to_1977.xlsx")
# df3 = pd.read_excel("..//combined datasets//combined_data_1978_to_2022.xlsx")

# # Concatenate the datasets vertically
# combined_df = pd.concat([df1, df2, df3], ignore_index=True)

# # Remove duplicate columns based on column names (assuming dates are in column names)
# combined_df = combined_df.loc[:, ~combined_df.columns.duplicated()]

# # Save the merged dataset
# combined_df.to_excel("merged_data_1901_to_2022.xlsx", index=False)

# print("Merging complete. File saved as 'merged_data_1901_to_2022.xlsx'.")

Merging complete. File saved as 'merged_data_1901_to_2022.xlsx'.

In [18]:
import pandas as pd

# Load the Excel file
df = pd.read_excel("merged_data_1901_to_2022.xlsx")

# Display the DataFrame
print(df)

             Date      Day    Year  Month Location  Rainfall (in mm)  \
0      1901-01-01    Day_1  1901.0    1.0    Loc_0               3.0
1      1901-01-02    Day_2  1901.0    1.0    Loc_0               8.0
2      1901-01-03    Day_3  1901.0    1.0    Loc_0               0.0
3      1901-01-04    Day_4  1901.0    1.0    Loc_0               0.0
4      1901-01-05    Day_5  1901.0    1.0    Loc_0               0.0
...           ...      ...     ...    ...      ...               ...
669675 2022-12-27  Day_361  2022.0   12.0   Loc_10               0.6
669676 2022-12-28  Day_362  2022.0   12.0   Loc_10               0.7
669677 2022-12-29  Day_363  2022.0   12.0   Loc_10               0.1
669678 2022-12-30  Day_364  2022.0   12.0   Loc_10               0.0
669679 2022-12-31  Day_365  2022.0   12.0   Loc_10               0.0

        Latitude  Longitude  Quarter
0          27.25      88.25      1.0
1          27.25      88.25      1.0
2          27.25      88.25      1.0
3          27.25      88.25      1.0
4          27.25      88.25      1.0
...          ...        ...      ...
669675     28.00      88.75      4.0
669676     28.00      88.75      4.0
669677     28.00      88.75      4.0
669678     28.00      88.75      4.0
669679     28.00      88.75      4.0

[669680 rows x 9 columns]

In [21]:
# Check for NaN values in each column
nan_count = df.isna().sum()

# Print the count of NaN values in each column
print(nan_count)

# Display the first few rows to verify
print(df.head())

Date                121
Day                 121
Year                121
Month               121
Location              0
Rainfall (in mm)    121
Latitude              0
Longitude             0
Quarter             121
dtype: int64
        Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_0               3.0     27.25
1 1901-01-02  Day_2  1901.0    1.0    Loc_0               8.0     27.25
2 1901-01-03  Day_3  1901.0    1.0    Loc_0               0.0     27.25
3 1901-01-04  Day_4  1901.0    1.0    Loc_0               0.0     27.25
4 1901-01-05  Day_5  1901.0    1.0    Loc_0               0.0     27.25

   Longitude  Quarter
0      88.25      1.0
1      88.25      1.0
2      88.25      1.0
3      88.25      1.0
4      88.25      1.0

In [22]:
# Filter and print rows with NaN values in any column
nan_rows = df[df.isna().any(axis=1)]

# Display the rows with NaN values
print(nan_rows)

      Date  Day  Year  Month Location  Rainfall (in mm)  Latitude  Longitude  \
52259  NaT  NaN   NaN    NaN    Loc_0               NaN     27.25      88.25
52288  NaT  NaN   NaN    NaN    Loc_0               NaN     27.25      88.25
52320  NaT  NaN   NaN    NaN    Loc_0               NaN     27.25      88.25
52351  NaT  NaN   NaN    NaN    Loc_0               NaN     27.25      88.25
52383  NaT  NaN   NaN    NaN    Loc_0               NaN     27.25      88.25
...    ...  ...   ...    ...      ...               ...       ...        ...
56206  NaT  NaN   NaN    NaN   Loc_10               NaN     28.00      88.75
56238  NaT  NaN   NaN    NaN   Loc_10               NaN     28.00      88.75
56269  NaT  NaN   NaN    NaN   Loc_10               NaN     28.00      88.75
56301  NaT  NaN   NaN    NaN   Loc_10               NaN     28.00      88.75
56332  NaT  NaN   NaN    NaN   Loc_10               NaN     28.00      88.75

       Quarter
52259      NaN
52288      NaN
52320      NaN
52351      NaN
52383      NaN
...        ...
56206      NaN
56238      NaN
56269      NaN
56301      NaN
56332      NaN

[121 rows x 9 columns]

In [23]:
# Remove rows where the 'Date' column is empty (NaN)
df = df.dropna(subset=['Date'])

# Reset the index after dropping rows
df.reset_index(drop=True, inplace=True)

# Display the updated DataFrame
print(df.head())

        Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_0               3.0     27.25
1 1901-01-02  Day_2  1901.0    1.0    Loc_0               8.0     27.25
2 1901-01-03  Day_3  1901.0    1.0    Loc_0               0.0     27.25
3 1901-01-04  Day_4  1901.0    1.0    Loc_0               0.0     27.25
4 1901-01-05  Day_5  1901.0    1.0    Loc_0               0.0     27.25

   Longitude  Quarter
0      88.25      1.0
1      88.25      1.0
2      88.25      1.0
3      88.25      1.0
4      88.25      1.0

In [24]:
# Filter and print rows with NaN values in any column
nan_rows = df[df.isna().any(axis=1)]

# Display the rows with NaN values
print(nan_rows)

Empty DataFrame
Columns: [Date, Day, Year, Month, Location, Rainfall (in mm), Latitude, Longitude, Quarter]
Index: []

In [25]:
# Remove rows where the 'Date' column is empty (NaN)
df_cleaned = df.dropna(subset=['Date'])

# Reset the index after dropping rows
df_cleaned.reset_index(drop=True, inplace=True)

# Save the cleaned data back to a new Excel file
df_cleaned.to_excel("cleaned_merged_data.xlsx", index=False)

# Display the first few rows of the cleaned DataFrame
print(df_cleaned.head())

        Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_0               3.0     27.25
1 1901-01-02  Day_2  1901.0    1.0    Loc_0               8.0     27.25
2 1901-01-03  Day_3  1901.0    1.0    Loc_0               0.0     27.25
3 1901-01-04  Day_4  1901.0    1.0    Loc_0               0.0     27.25
4 1901-01-05  Day_5  1901.0    1.0    Loc_0               0.0     27.25

   Longitude  Quarter
0      88.25      1.0
1      88.25      1.0
2      88.25      1.0
3      88.25      1.0
4      88.25      1.0

In [26]:
# Filter and print rows with NaN values in any column
nan_rows = df_cleaned[df_cleaned.isna().any(axis=1)]

# Display the rows with NaN values
print(nan_rows)

Empty DataFrame
Columns: [Date, Day, Year, Month, Location, Rainfall (in mm), Latitude, Longitude, Quarter]
Index: []

In [27]:
print("Shape of merged dataset:", df_cleaned.shape)

Shape of merged dataset: (669559, 9)

In [28]:
print("First 5 rows of combined dataset:\n", df_cleaned.head())

First 5 rows of combined dataset:
         Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_0               3.0     27.25
1 1901-01-02  Day_2  1901.0    1.0    Loc_0               8.0     27.25
2 1901-01-03  Day_3  1901.0    1.0    Loc_0               0.0     27.25
3 1901-01-04  Day_4  1901.0    1.0    Loc_0               0.0     27.25
4 1901-01-05  Day_5  1901.0    1.0    Loc_0               0.0     27.25

   Longitude  Quarter
0      88.25      1.0
1      88.25      1.0
2      88.25      1.0
3      88.25      1.0
4      88.25      1.0

In [29]:
print("Last 5 rows of combined dataset:\n", df_cleaned.tail())

Last 5 rows of combined dataset:
              Date      Day    Year  Month Location  Rainfall (in mm)  \
669554 2022-12-27  Day_361  2022.0   12.0   Loc_10               0.6
669555 2022-12-28  Day_362  2022.0   12.0   Loc_10               0.7
669556 2022-12-29  Day_363  2022.0   12.0   Loc_10               0.1
669557 2022-12-30  Day_364  2022.0   12.0   Loc_10               0.0
669558 2022-12-31  Day_365  2022.0   12.0   Loc_10               0.0

        Latitude  Longitude  Quarter
669554      28.0      88.75      4.0
669555      28.0      88.75      4.0
669556      28.0      88.75      4.0
669557      28.0      88.75      4.0
669558      28.0      88.75      4.0

In [6]:
# # Get unique locations
# locations = df['Location'].unique()

# # Loop through each unique location and save as separate Excel file
# for location in locations:
#     # Filter data for the specific location
#     location_df = df[df['Location'] == location]
    
#     # Save the filtered data to a new Excel file
#     location_df.to_excel(f"{location}_data.xlsx", index=False)

In [30]:
df0 = pd.read_excel("Loc_0_data.xlsx")

# Display the DataFrame
print(df0)

            Date      Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0     1901-01-01    Day_1  1901.0    1.0    Loc_0               3.0     27.25
1     1901-01-02    Day_2  1901.0    1.0    Loc_0               8.0     27.25
2     1901-01-03    Day_3  1901.0    1.0    Loc_0               0.0     27.25
3     1901-01-04    Day_4  1901.0    1.0    Loc_0               0.0     27.25
4     1901-01-05    Day_5  1901.0    1.0    Loc_0               0.0     27.25
...          ...      ...     ...    ...      ...               ...       ...
60875 2022-12-27  Day_361  2022.0   12.0    Loc_0               0.0     27.25
60876 2022-12-28  Day_362  2022.0   12.0    Loc_0               0.0     27.25
60877 2022-12-29  Day_363  2022.0   12.0    Loc_0               0.3     27.25
60878 2022-12-30  Day_364  2022.0   12.0    Loc_0               0.0     27.25
60879 2022-12-31  Day_365  2022.0   12.0    Loc_0               0.0     27.25

       Longitude  Quarter
0          88.25      1.0
1          88.25      1.0
2          88.25      1.0
3          88.25      1.0
4          88.25      1.0
...          ...      ...
60875      88.25      4.0
60876      88.25      4.0
60877      88.25      4.0
60878      88.25      4.0
60879      88.25      4.0

[60880 rows x 9 columns]

In [33]:
import pandas as pd

# Loop through the data for locations Loc_0_data to Loc_10_data
for i in range(11):
    # Construct the file name for each location
    file_name = f"Loc_{i}_data.xlsx"
    
    # Read the Excel file
    df = pd.read_excel(file_name)
    
    # Remove rows where the 'Date' column is empty (NaN)
    df_cleaned = df.dropna(subset=['Date'])
    
    # Reset the index after dropping rows
    df_cleaned.reset_index(drop=True, inplace=True)
    
    # Save the cleaned data back to the same file (overwriting it)
    df_cleaned.to_excel(file_name, index=False)

    # Display the first few rows of the cleaned DataFrame (optional)
    print(f"Cleaned data for {file_name}:")
    print(df_cleaned.head())

Cleaned data for Loc_0_data.xlsx:
        Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_0               3.0     27.25
1 1901-01-02  Day_2  1901.0    1.0    Loc_0               8.0     27.25
2 1901-01-03  Day_3  1901.0    1.0    Loc_0               0.0     27.25
3 1901-01-04  Day_4  1901.0    1.0    Loc_0               0.0     27.25
4 1901-01-05  Day_5  1901.0    1.0    Loc_0               0.0     27.25

   Longitude  Quarter
0      88.25      1.0
1      88.25      1.0
2      88.25      1.0
3      88.25      1.0
4      88.25      1.0
Cleaned data for Loc_1_data.xlsx:
        Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_1               3.0     27.25
1 1901-01-02  Day_2  1901.0    1.0    Loc_1               8.0     27.25
2 1901-01-03  Day_3  1901.0    1.0    Loc_1               0.0     27.25
3 1901-01-04  Day_4  1901.0    1.0    Loc_1               0.0     27.25
4 1901-01-05  Day_5  1901.0    1.0    Loc_1               0.0     27.25

   Longitude  Quarter
0       88.5      1.0
1       88.5      1.0
2       88.5      1.0
3       88.5      1.0
4       88.5      1.0
Cleaned data for Loc_2_data.xlsx:
        Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_2               4.0     27.25
1 1901-01-02  Day_2  1901.0    1.0    Loc_2               5.0     27.25
2 1901-01-03  Day_3  1901.0    1.0    Loc_2               0.0     27.25
3 1901-01-04  Day_4  1901.0    1.0    Loc_2               0.0     27.25
4 1901-01-05  Day_5  1901.0    1.0    Loc_2               0.0     27.25

   Longitude  Quarter
0      88.75      1.0
1      88.75      1.0
2      88.75      1.0
3      88.75      1.0
4      88.75      1.0
Cleaned data for Loc_3_data.xlsx:
        Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_3               3.0      27.5
1 1901-01-02  Day_2  1901.0    1.0    Loc_3               8.0      27.5
2 1901-01-03  Day_3  1901.0    1.0    Loc_3               0.0      27.5
3 1901-01-04  Day_4  1901.0    1.0    Loc_3               0.0      27.5
4 1901-01-05  Day_5  1901.0    1.0    Loc_3               0.0      27.5

   Longitude  Quarter
0      88.25      1.0
1      88.25      1.0
2      88.25      1.0
3      88.25      1.0
4      88.25      1.0
Cleaned data for Loc_4_data.xlsx:
        Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_4               3.0      27.5
1 1901-01-02  Day_2  1901.0    1.0    Loc_4               8.0      27.5
2 1901-01-03  Day_3  1901.0    1.0    Loc_4               0.0      27.5
3 1901-01-04  Day_4  1901.0    1.0    Loc_4               0.0      27.5
4 1901-01-05  Day_5  1901.0    1.0    Loc_4               0.0      27.5

   Longitude  Quarter
0       88.5      1.0
1       88.5      1.0
2       88.5      1.0
3       88.5      1.0
4       88.5      1.0
Cleaned data for Loc_5_data.xlsx:
        Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_5               4.0      27.5
1 1901-01-02  Day_2  1901.0    1.0    Loc_5               6.0      27.5
2 1901-01-03  Day_3  1901.0    1.0    Loc_5               0.0      27.5
3 1901-01-04  Day_4  1901.0    1.0    Loc_5               0.0      27.5
4 1901-01-05  Day_5  1901.0    1.0    Loc_5               0.0      27.5

   Longitude  Quarter
0      88.75      1.0
1      88.75      1.0
2      88.75      1.0
3      88.75      1.0
4      88.75      1.0
Cleaned data for Loc_6_data.xlsx:
        Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_6               3.0     27.75
1 1901-01-02  Day_2  1901.0    1.0    Loc_6               8.0     27.75
2 1901-01-03  Day_3  1901.0    1.0    Loc_6               0.0     27.75
3 1901-01-04  Day_4  1901.0    1.0    Loc_6               0.0     27.75
4 1901-01-05  Day_5  1901.0    1.0    Loc_6               0.0     27.75

   Longitude  Quarter
0      88.25      1.0
1      88.25      1.0
2      88.25      1.0
3      88.25      1.0
4      88.25      1.0
Cleaned data for Loc_7_data.xlsx:
        Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_7               3.0     27.75
1 1901-01-02  Day_2  1901.0    1.0    Loc_7               8.0     27.75
2 1901-01-03  Day_3  1901.0    1.0    Loc_7               0.0     27.75
3 1901-01-04  Day_4  1901.0    1.0    Loc_7               0.0     27.75
4 1901-01-05  Day_5  1901.0    1.0    Loc_7               0.0     27.75

   Longitude  Quarter
0       88.5      1.0
1       88.5      1.0
2       88.5      1.0
3       88.5      1.0
4       88.5      1.0
Cleaned data for Loc_8_data.xlsx:
        Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_8               4.0     27.75
1 1901-01-02  Day_2  1901.0    1.0    Loc_8               7.0     27.75
2 1901-01-03  Day_3  1901.0    1.0    Loc_8               0.0     27.75
3 1901-01-04  Day_4  1901.0    1.0    Loc_8               0.0     27.75
4 1901-01-05  Day_5  1901.0    1.0    Loc_8               0.0     27.75

   Longitude  Quarter
0      88.75      1.0
1      88.75      1.0
2      88.75      1.0
3      88.75      1.0
4      88.75      1.0
Cleaned data for Loc_9_data.xlsx:
        Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0    Loc_9               3.0        28
1 1901-01-02  Day_2  1901.0    1.0    Loc_9               8.0        28
2 1901-01-03  Day_3  1901.0    1.0    Loc_9               0.0        28
3 1901-01-04  Day_4  1901.0    1.0    Loc_9               0.0        28
4 1901-01-05  Day_5  1901.0    1.0    Loc_9               0.0        28

   Longitude  Quarter
0       88.5      1.0
1       88.5      1.0
2       88.5      1.0
3       88.5      1.0
4       88.5      1.0
Cleaned data for Loc_10_data.xlsx:
        Date    Day    Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901.0    1.0   Loc_10               4.0        28
1 1901-01-02  Day_2  1901.0    1.0   Loc_10               7.0        28
2 1901-01-03  Day_3  1901.0    1.0   Loc_10               0.0        28
3 1901-01-04  Day_4  1901.0    1.0   Loc_10               0.0        28
4 1901-01-05  Day_5  1901.0    1.0   Loc_10               0.0        28

   Longitude  Quarter
0      88.75      1.0
1      88.75      1.0
2      88.75      1.0
3      88.75      1.0
4      88.75      1.0

In [35]:
# Filter and print rows with NaN values in any column
df0 = pd.read_excel("Loc_0_data.xlsx")
nan_rows = df0[df0.isna().any(axis=1)]

# Display the rows with NaN values
print(nan_rows)

Empty DataFrame
Columns: [Date, Day, Year, Month, Location, Rainfall (in mm), Latitude, Longitude, Quarter]
Index: []

In [36]:
# Ensure the data is sorted by Date to maintain the correct order for summing past days
df0['Date'] = pd.to_datetime(df0['Date'])
df0 = df0.sort_values('Date')

# Calculate the cumulative rainfall for the last 3 days (today and past 2 days)
df0['Cumulative_Rainfall'] = df0['Rainfall (in mm)'].rolling(window=3, min_periods=1).sum()

# Display the updated DataFrame
print(df0[['Date', 'Day', 'Location', 'Rainfall (in mm)', 'Cumulative_Rainfall']].head())

        Date    Day Location  Rainfall (in mm)  Cumulative_Rainfall
0 1901-01-01  Day_1    Loc_0               3.0                  3.0
1 1901-01-02  Day_2    Loc_0               8.0                 11.0
2 1901-01-03  Day_3    Loc_0               0.0                 11.0
3 1901-01-04  Day_4    Loc_0               0.0                  8.0
4 1901-01-05  Day_5    Loc_0               0.0                  0.0

In [37]:
df0['Previous_Day_Rainfall'] = df0['Rainfall (in mm)'].shift(1)

# Display the updated DataFrame
print(df0[['Date', 'Day', 'Location', 'Rainfall (in mm)', 'Cumulative_Rainfall', 'Previous_Day_Rainfall']].head())

        Date    Day Location  Rainfall (in mm)  Cumulative_Rainfall  \
0 1901-01-01  Day_1    Loc_0               3.0                  3.0
1 1901-01-02  Day_2    Loc_0               8.0                 11.0
2 1901-01-03  Day_3    Loc_0               0.0                 11.0
3 1901-01-04  Day_4    Loc_0               0.0                  8.0
4 1901-01-05  Day_5    Loc_0               0.0                  0.0

   Previous_Day_Rainfall
0                    NaN
1                    3.0
2                    8.0
3                    0.0
4                    0.0

In [12]:
# Calculate the cumulative rainfall for the last 7 days (today and past 6 days)
df0['Weekly Sum'] = df0['Rainfall (in mm)'].rolling(window=7, min_periods=1).sum()

# Display the updated DataFrame
print(df0[['Date', 'Day', 'Location', 'Rainfall (in mm)', 'Cumulative_Rainfall', 'Previous_Day_Rainfall', 'Weekly Sum']].head())

        Date    Day Location  Rainfall (in mm)  Cumulative_Rainfall  \
0 1901-01-01  Day_1    Loc_0               3.0                  3.0
1 1901-01-02  Day_2    Loc_0               8.0                 11.0
2 1901-01-03  Day_3    Loc_0               0.0                 11.0
3 1901-01-04  Day_4    Loc_0               0.0                  8.0
4 1901-01-05  Day_5    Loc_0               0.0                  0.0

   Previous_Day_Rainfall  Weekly Sum
0                    NaN         3.0
1                    3.0        11.0
2                    8.0        11.0
3                    0.0        11.0
4                    0.0        11.0

In [38]:
print(df0.head())

        Date    Day  Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901      1    Loc_0               3.0     27.25
1 1901-01-02  Day_2  1901      1    Loc_0               8.0     27.25
2 1901-01-03  Day_3  1901      1    Loc_0               0.0     27.25
3 1901-01-04  Day_4  1901      1    Loc_0               0.0     27.25
4 1901-01-05  Day_5  1901      1    Loc_0               0.0     27.25

   Longitude  Quarter  Cumulative_Rainfall  Previous_Day_Rainfall
0      88.25        1                  3.0                    NaN
1      88.25        1                 11.0                    3.0
2      88.25        1                 11.0                    8.0
3      88.25        1                  8.0                    0.0
4      88.25        1                  0.0                    0.0

In [39]:
# Check for NaN values in each column
nan_count = df0.isna().sum()

# Print the count of NaN values in each column
print(nan_count)

# Display the first few rows to verify
print(df0.head())

Date                     0
Day                      0
Year                     0
Month                    0
Location                 0
Rainfall (in mm)         0
Latitude                 0
Longitude                0
Quarter                  0
Cumulative_Rainfall      0
Previous_Day_Rainfall    1
dtype: int64
        Date    Day  Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901      1    Loc_0               3.0     27.25
1 1901-01-02  Day_2  1901      1    Loc_0               8.0     27.25
2 1901-01-03  Day_3  1901      1    Loc_0               0.0     27.25
3 1901-01-04  Day_4  1901      1    Loc_0               0.0     27.25
4 1901-01-05  Day_5  1901      1    Loc_0               0.0     27.25

   Longitude  Quarter  Cumulative_Rainfall  Previous_Day_Rainfall
0      88.25        1                  3.0                    NaN
1      88.25        1                 11.0                    3.0
2      88.25        1                 11.0                    8.0
3      88.25        1                  8.0                    0.0
4      88.25        1                  0.0                    0.0

In [41]:
# Fill empty values (NaN) with 0
df0 = df0.fillna(0)

# Display the updated DataFrame
print(df0)

            Date      Day  Year  Month Location  Rainfall (in mm)  Latitude  \
0     1901-01-01    Day_1  1901      1    Loc_0               3.0     27.25
1     1901-01-02    Day_2  1901      1    Loc_0               8.0     27.25
2     1901-01-03    Day_3  1901      1    Loc_0               0.0     27.25
3     1901-01-04    Day_4  1901      1    Loc_0               0.0     27.25
4     1901-01-05    Day_5  1901      1    Loc_0               0.0     27.25
...          ...      ...   ...    ...      ...               ...       ...
60866 2022-12-29  Day_363  2022     12    Loc_0               0.3     27.25
60867 2022-12-30  Day_364  2022     12    Loc_0               0.0     27.25
44677 2022-12-30  Day_364  2022     12    Loc_0               0.0     27.25
44678 2022-12-31  Day_365  2022     12    Loc_0               0.0     27.25
60868 2022-12-31  Day_365  2022     12    Loc_0               0.0     27.25

       Longitude  Quarter  Cumulative_Rainfall  Previous_Day_Rainfall
0          88.25        1                  3.0                    0.0
1          88.25        1                 11.0                    3.0
2          88.25        1                 11.0                    8.0
3          88.25        1                  8.0                    0.0
4          88.25        1                  0.0                    0.0
...          ...      ...                  ...                    ...
60866      88.25        4                  0.6                    0.3
60867      88.25        4                  0.6                    0.3
44677      88.25        4                  0.3                    0.0
44678      88.25        4                  0.0                    0.0
60868      88.25        4                  0.0                    0.0

[60869 rows x 11 columns]

In [42]:
# Calculate the weekly average (7-day rolling mean) of rainfall
df0['Weekly_Average'] = df0['Rainfall (in mm)'].rolling(window=7, min_periods=1).mean()

# Display the updated DataFrame
print(df0.head())

        Date    Day  Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901      1    Loc_0               3.0     27.25
1 1901-01-02  Day_2  1901      1    Loc_0               8.0     27.25
2 1901-01-03  Day_3  1901      1    Loc_0               0.0     27.25
3 1901-01-04  Day_4  1901      1    Loc_0               0.0     27.25
4 1901-01-05  Day_5  1901      1    Loc_0               0.0     27.25

   Longitude  Quarter  Cumulative_Rainfall  Previous_Day_Rainfall  \
0      88.25        1                  3.0                    0.0
1      88.25        1                 11.0                    3.0
2      88.25        1                 11.0                    8.0
3      88.25        1                  8.0                    0.0
4      88.25        1                  0.0                    0.0

   Weekly_Average
0        3.000000
1        5.500000
2        3.666667
3        2.750000
4        2.200000

In [43]:
# Create the 'hasRainfall' column based on 'Rainfall (in mm)'
df0['hasRainfall'] = df0['Rainfall (in mm)'].apply(lambda x: 'yes' if x > 0 else 'no')

# Display the updated DataFrame
print(df0[['Date', 'Day', 'Location', 'Rainfall (in mm)', 'hasRainfall']].head())

        Date    Day Location  Rainfall (in mm) hasRainfall
0 1901-01-01  Day_1    Loc_0               3.0         yes
1 1901-01-02  Day_2    Loc_0               8.0         yes
2 1901-01-03  Day_3    Loc_0               0.0          no
3 1901-01-04  Day_4    Loc_0               0.0          no
4 1901-01-05  Day_5    Loc_0               0.0          no

In [44]:
df0.head()

,Date,Day,Year,Month,Location,Rainfall (in mm),Latitude,Longitude,Quarter,Cumulative_Rainfall,Previous_Day_Rainfall,Weekly_Average,hasRainfall
0,1901-01-01,Day_1,1901,1,Loc_0,3.0,27.25,88.25,1,3.0,0.0,3.000000,yes
1,1901-01-02,Day_2,1901,1,Loc_0,8.0,27.25,88.25,1,11.0,3.0,5.500000,yes
2,1901-01-03,Day_3,1901,1,Loc_0,0.0,27.25,88.25,1,11.0,8.0,3.666667,no
3,1901-01-04,Day_4,1901,1,Loc_0,0.0,27.25,88.25,1,8.0,0.0,2.750000,no
4,1901-01-05,Day_5,1901,1,Loc_0,0.0,27.25,88.25,1,0.0,0.0,2.200000,no

In [45]:
# Create the 'HighRainfall' column to check if Today's rainfall or Cumulative rainfall >= 120 mm
df0['HighRainfall'] = df0.apply(lambda row: 'yes' if row['Rainfall (in mm)'] >= 120 or row['Cumulative_Rainfall'] >= 120 else 'no', axis=1)

# Print rows where 'HighRainfall' is 'yes'
high_rainfall_rows = df0[df0['HighRainfall'] == 'yes']

# Display the rows with 'yes' in the 'HighRainfall' column
print(high_rainfall_rows[['Date', 'Day', 'Location', 'Rainfall (in mm)', 'Cumulative_Rainfall', 'HighRainfall']].head())

          Date      Day Location  Rainfall (in mm)  Cumulative_Rainfall  \
187 1901-07-07  Day_188    Loc_0              90.0                123.0
188 1901-07-08  Day_189    Loc_0              32.0                148.0
189 1901-07-09  Day_190    Loc_0              21.0                143.0
223 1901-08-12  Day_224    Loc_0              56.0                134.0
224 1901-08-13  Day_225    Loc_0              63.0                158.0

    HighRainfall
187          yes
188          yes
189          yes
223          yes
224          yes

In [46]:
# Filter the rows where 'Rainfall (in mm)' >= 70 mm
high_rainfall_rows = df0[df0['Rainfall (in mm)'] >= 70]

# Display the filtered rows
print(high_rainfall_rows[['Date', 'Day', 'Location', 'Rainfall (in mm)']].head())

          Date      Day Location  Rainfall (in mm)
187 1901-07-07  Day_188    Loc_0              90.0
557 1902-07-12  Day_193    Loc_0              85.0
572 1902-07-27  Day_208    Loc_0              78.0
587 1902-08-11  Day_223    Loc_0             108.0
616 1902-09-09  Day_252    Loc_0              85.0

In [47]:
# Save the DataFrame to an Excel file
df0.to_excel('modified_location_0.xlsx', index=False)

# Confirm the file has been saved
print("File saved as 'modified_location_0.xlsx'")

File saved as 'modified_location_0.xlsx'

In [48]:
import pandas as pd

# Define a function to determine the season based on the month
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8, 9]:
        return 'Monsoon'
    elif month in [10, 11]:
        return 'Autumn'
    else:
        return 'Unknown'  # In case there's an unexpected month value

# Apply the function to the 'Month' column to create a new 'Season' column
df0['Season'] = df0['Month'].apply(get_season)

# Save the DataFrame with the new 'Season' column to the same Excel file
df0.to_excel('modified_location_0.xlsx', index=False)

# Confirm the file has been saved
print("File saved as 'modified_location_0.xlsx'")

File saved as 'modified_location_0.xlsx'

In [50]:
df0.columns

Index(['Date', 'Day', 'Year', 'Month', 'Location', 'Rainfall (in mm)',
       'Latitude', 'Longitude', 'Quarter', 'Cumulative_Rainfall',
       'Previous_Day_Rainfall', 'Weekly_Average', 'hasRainfall',
       'HighRainfall', 'Season'],
      dtype='object')