In [1]:
import pandas as pd

In [2]:
# Filter and print rows with NaN values in any column
df0 = pd.read_excel("..//datasets//Loc_10_data.xlsx")
nan_rows = df0[df0.isna().any(axis=1)]

# Display the rows with NaN values
print(nan_rows)

Empty DataFrame
Columns: [Date, Day, Year, Month, Location, Rainfall (in mm), Latitude, Longitude, Quarter]
Index: []

In [3]:
# Ensure the data is sorted by Date to maintain the correct order for summing past days
df0['Date'] = pd.to_datetime(df0['Date'])
df0 = df0.sort_values('Date')

# Calculate the cumulative rainfall for the last 3 days (today and past 2 days)
df0['Cumulative_Rainfall'] = df0['Rainfall (in mm)'].rolling(window=3, min_periods=1).sum()

# Display the updated DataFrame
print(df0[['Date', 'Day', 'Location', 'Rainfall (in mm)', 'Cumulative_Rainfall']].head())

        Date    Day Location  Rainfall (in mm)  Cumulative_Rainfall
0 1901-01-01  Day_1   Loc_10               4.0                  4.0
1 1901-01-02  Day_2   Loc_10               7.0                 11.0
2 1901-01-03  Day_3   Loc_10               0.0                 11.0
3 1901-01-04  Day_4   Loc_10               0.0                  7.0
4 1901-01-05  Day_5   Loc_10               0.0                  0.0

In [4]:
df0['Previous_Day_Rainfall'] = df0['Rainfall (in mm)'].shift(1)

# Display the updated DataFrame
print(df0[['Date', 'Day', 'Location', 'Rainfall (in mm)', 'Cumulative_Rainfall', 'Previous_Day_Rainfall']].head())

        Date    Day Location  Rainfall (in mm)  Cumulative_Rainfall  \
0 1901-01-01  Day_1   Loc_10               4.0                  4.0
1 1901-01-02  Day_2   Loc_10               7.0                 11.0
2 1901-01-03  Day_3   Loc_10               0.0                 11.0
3 1901-01-04  Day_4   Loc_10               0.0                  7.0
4 1901-01-05  Day_5   Loc_10               0.0                  0.0

   Previous_Day_Rainfall
0                    NaN
1                    4.0
2                    7.0
3                    0.0
4                    0.0

In [5]:
# Calculate the cumulative rainfall for the last 7 days (today and past 6 days)
df0['Weekly Sum'] = df0['Rainfall (in mm)'].rolling(window=7, min_periods=1).sum()

# Display the updated DataFrame
print(df0[['Date', 'Day', 'Location', 'Rainfall (in mm)', 'Cumulative_Rainfall', 'Previous_Day_Rainfall', 'Weekly Sum']].head())

        Date    Day Location  Rainfall (in mm)  Cumulative_Rainfall  \
0 1901-01-01  Day_1   Loc_10               4.0                  4.0
1 1901-01-02  Day_2   Loc_10               7.0                 11.0
2 1901-01-03  Day_3   Loc_10               0.0                 11.0
3 1901-01-04  Day_4   Loc_10               0.0                  7.0
4 1901-01-05  Day_5   Loc_10               0.0                  0.0

   Previous_Day_Rainfall  Weekly Sum
0                    NaN         4.0
1                    4.0        11.0
2                    7.0        11.0
3                    0.0        11.0
4                    0.0        11.0

In [6]:
print(df0.head())

        Date    Day  Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901      1   Loc_10               4.0        28
1 1901-01-02  Day_2  1901      1   Loc_10               7.0        28
2 1901-01-03  Day_3  1901      1   Loc_10               0.0        28
3 1901-01-04  Day_4  1901      1   Loc_10               0.0        28
4 1901-01-05  Day_5  1901      1   Loc_10               0.0        28

   Longitude  Quarter  Cumulative_Rainfall  Previous_Day_Rainfall  Weekly Sum
0      88.75        1                  4.0                    NaN         4.0
1      88.75        1                 11.0                    4.0        11.0
2      88.75        1                 11.0                    7.0        11.0
3      88.75        1                  7.0                    0.0        11.0
4      88.75        1                  0.0                    0.0        11.0

In [7]:
# Check for NaN values in each column
nan_count = df0.isna().sum()

# Print the count of NaN values in each column
print(nan_count)

# Display the first few rows to verify
print(df0.head())

Date                     0
Day                      0
Year                     0
Month                    0
Location                 0
Rainfall (in mm)         0
Latitude                 0
Longitude                0
Quarter                  0
Cumulative_Rainfall      0
Previous_Day_Rainfall    1
Weekly Sum               0
dtype: int64
        Date    Day  Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901      1   Loc_10               4.0        28
1 1901-01-02  Day_2  1901      1   Loc_10               7.0        28
2 1901-01-03  Day_3  1901      1   Loc_10               0.0        28
3 1901-01-04  Day_4  1901      1   Loc_10               0.0        28
4 1901-01-05  Day_5  1901      1   Loc_10               0.0        28

   Longitude  Quarter  Cumulative_Rainfall  Previous_Day_Rainfall  Weekly Sum
0      88.75        1                  4.0                    NaN         4.0
1      88.75        1                 11.0                    4.0        11.0
2      88.75        1                 11.0                    7.0        11.0
3      88.75        1                  7.0                    0.0        11.0
4      88.75        1                  0.0                    0.0        11.0

In [8]:
# Fill empty values (NaN) with 0
df0 = df0.fillna(0)

# Display the updated DataFrame
print(df0)

            Date      Day  Year  Month Location  Rainfall (in mm)  Latitude  \
0     1901-01-01    Day_1  1901      1   Loc_10               4.0        28
1     1901-01-02    Day_2  1901      1   Loc_10               7.0        28
2     1901-01-03    Day_3  1901      1   Loc_10               0.0        28
3     1901-01-04    Day_4  1901      1   Loc_10               0.0        28
4     1901-01-05    Day_5  1901      1   Loc_10               0.0        28
...          ...      ...   ...    ...      ...               ...       ...
61595 2024-12-27  Day_362  2024     12   Loc_10               0.0        28
61596 2024-12-28  Day_363  2024     12   Loc_10               0.0        28
61597 2024-12-29  Day_364  2024     12   Loc_10               0.0        28
61598 2024-12-30  Day_365  2024     12   Loc_10               0.0        28
61599 2024-12-31  Day_366  2024     12   Loc_10               0.0        28

       Longitude  Quarter  Cumulative_Rainfall  Previous_Day_Rainfall  \
0          88.75        1                  4.0                    0.0
1          88.75        1                 11.0                    4.0
2          88.75        1                 11.0                    7.0
3          88.75        1                  7.0                    0.0
4          88.75        1                  0.0                    0.0
...          ...      ...                  ...                    ...
61595      88.75        4                  0.0                    0.0
61596      88.75        4                  0.0                    0.0
61597      88.75        4                  0.0                    0.0
61598      88.75        4                  0.0                    0.0
61599      88.75        4                  0.0                    0.0

       Weekly Sum
0             4.0
1            11.0
2            11.0
3            11.0
4            11.0
...           ...
61595         3.0
61596         3.0
61597         0.0
61598         0.0
61599         0.0

[61600 rows x 12 columns]

In [9]:
# Calculate the weekly average (7-day rolling mean) of rainfall
df0['Weekly_Average'] = df0['Rainfall (in mm)'].rolling(window=7, min_periods=1).mean()

# Display the updated DataFrame
print(df0.head())

        Date    Day  Year  Month Location  Rainfall (in mm)  Latitude  \
0 1901-01-01  Day_1  1901      1   Loc_10               4.0        28
1 1901-01-02  Day_2  1901      1   Loc_10               7.0        28
2 1901-01-03  Day_3  1901      1   Loc_10               0.0        28
3 1901-01-04  Day_4  1901      1   Loc_10               0.0        28
4 1901-01-05  Day_5  1901      1   Loc_10               0.0        28

   Longitude  Quarter  Cumulative_Rainfall  Previous_Day_Rainfall  Weekly Sum  \
0      88.75        1                  4.0                    0.0         4.0
1      88.75        1                 11.0                    4.0        11.0
2      88.75        1                 11.0                    7.0        11.0
3      88.75        1                  7.0                    0.0        11.0
4      88.75        1                  0.0                    0.0        11.0

   Weekly_Average
0        4.000000
1        5.500000
2        3.666667
3        2.750000
4        2.200000

In [10]:
# Create the 'hasRainfall' column based on 'Rainfall (in mm)'
df0['hasRainfall'] = df0['Rainfall (in mm)'].apply(lambda x: 'yes' if x > 0 else 'no')

# Display the updated DataFrame
print(df0[['Date', 'Day', 'Location', 'Rainfall (in mm)', 'hasRainfall']].head())

        Date    Day Location  Rainfall (in mm) hasRainfall
0 1901-01-01  Day_1   Loc_10               4.0         yes
1 1901-01-02  Day_2   Loc_10               7.0         yes
2 1901-01-03  Day_3   Loc_10               0.0          no
3 1901-01-04  Day_4   Loc_10               0.0          no
4 1901-01-05  Day_5   Loc_10               0.0          no

In [11]:
df0.head()

,Date,Day,Year,Month,Location,Rainfall (in mm),Latitude,Longitude,Quarter,Cumulative_Rainfall,Previous_Day_Rainfall,Weekly Sum,Weekly_Average,hasRainfall
0,1901-01-01,Day_1,1901,1,Loc_10,4.0,28,88.75,1,4.0,0.0,4.0,4.000000,yes
1,1901-01-02,Day_2,1901,1,Loc_10,7.0,28,88.75,1,11.0,4.0,11.0,5.500000,yes
2,1901-01-03,Day_3,1901,1,Loc_10,0.0,28,88.75,1,11.0,7.0,11.0,3.666667,no
3,1901-01-04,Day_4,1901,1,Loc_10,0.0,28,88.75,1,7.0,0.0,11.0,2.750000,no
4,1901-01-05,Day_5,1901,1,Loc_10,0.0,28,88.75,1,0.0,0.0,11.0,2.200000,no

In [12]:
# Create the 'Landslide_possibility' column to check if Today's rainfall or Cumulative rainfall >= 150 mm
df0['Landslide_possibility'] = df0.apply(lambda row: 'yes' if row['Rainfall (in mm)'] >= 70 or row['Cumulative_Rainfall'] >= 150 else 'no', axis=1)

# Print rows where 'Landslide_possibility' is 'yes'
high_rainfall_rows = df0[df0['Landslide_possibility'] == 'yes']

# Display the rows with 'yes' in the 'Landslide_possibility' column
print(high_rainfall_rows[['Date', 'Day', 'Location', 'Rainfall (in mm)', 'Cumulative_Rainfall', 'Landslide_possibility']].head())

          Date      Day Location  Rainfall (in mm)  Cumulative_Rainfall  \
187 1901-07-07  Day_188   Loc_10              77.0                112.0
557 1902-07-12  Day_193   Loc_10              76.0                 87.0
573 1902-07-28  Day_209   Loc_10              71.0                166.0
574 1902-07-29  Day_210   Loc_10              31.0                171.0
587 1902-08-11  Day_223   Loc_10              75.0                109.0

    Landslide_possibility
187                   yes
557                   yes
573                   yes
574                   yes
587                   yes

In [13]:
# Filter the rows where 'Rainfall (in mm)' >= 70 mm
high_rainfall_rows = df0[df0['Rainfall (in mm)'] >= 70]

# Display the filtered rows
print(high_rainfall_rows[['Date', 'Day', 'Location', 'Rainfall (in mm)']].head())

          Date      Day Location  Rainfall (in mm)
187 1901-07-07  Day_188   Loc_10              77.0
557 1902-07-12  Day_193   Loc_10              76.0
573 1902-07-28  Day_209   Loc_10              71.0
587 1902-08-11  Day_223   Loc_10              75.0
616 1902-09-09  Day_252   Loc_10              88.0

In [14]:
# Save the DataFrame to an Excel file
df0.to_excel('..//datasets//modified_location_10.xlsx', index=False)

# Confirm the file has been saved
print("File saved as 'modified_location_10.xlsx'")

File saved as 'modified_location_10.xlsx'

In [15]:
import pandas as pd

# Define a function to determine the season based on the month
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8, 9]:
        return 'Monsoon'
    elif month in [10, 11]:
        return 'Autumn'
    else:
        return 'Unknown'  # In case there's an unexpected month value

# Apply the function to the 'Month' column to create a new 'Season' column
df0['Season'] = df0['Month'].apply(get_season)

# Save the DataFrame with the new 'Season' column to the same Excel file
df0.to_excel('..//datasets//modified_location_10.xlsx', index=False)

# Confirm the file has been saved
print("File saved as 'modified_location_10.xlsx'")

File saved as 'modified_location_10.xlsx'

In [16]:
df0.columns

Index(['Date', 'Day', 'Year', 'Month', 'Location', 'Rainfall (in mm)',
       'Latitude', 'Longitude', 'Quarter', 'Cumulative_Rainfall',
       'Previous_Day_Rainfall', 'Weekly Sum', 'Weekly_Average', 'hasRainfall',
       'Landslide_possibility', 'Season'],
      dtype='object')